<template>
    <div>
        <h4>I'm a childB</h4>
        <input type="text" v-model="val"/>
        <button @click="send">Send</button>
    </div>
</template>

<script>
import eventBus from './eventBus.js'

    export default {
        name: 'ChildB',
        data() {
            return {
                val: ''
            }
        },
        methods: {
            send() {
                eventBus.$emit("send", "from childB", this.val);
            }
        }
    }
</script>