<template>
    <div>
        <h3>I'm a parent</h3>
        <component :is="currChild"></component>
        <button @click='toggleComponent'>Toggle the child</button>
        <div>{{message}}</div>
    </div>
</template>

<script>

import eventBus from './eventBus.js'

import ChildA from './ChildA.vue'
import ChildB from './ChildB.vue'

    export default {
        name: 'parent',
        components: { ChildB, ChildA },
        created() {
            eventBus.$on('send', (from, val) => {
                this.message = `Got message ${from}: ${val}`
            })
        },
        data() {
            return {
                currChild: ChildA,
                message: ''
            }
        },
        methods: {
            toggleComponent() {
                this.currChild = this.currChild.name === 'ChildA' ? ChildB : ChildA;
                console.log(this.currChild.name)
            }
        }
    }
</script>